doctype html
html(lang="en")
    head 
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width,  height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no")
        title
            | Alya Surikova - Test Work
        link(rel="icon" type="image/png" href="images/music-player.png")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet")
        link(href='css/reset.css', rel="stylesheet")
        link(href='css/layout.css', rel="stylesheet")
        link(href='css/mobile.css', rel="stylesheet")
    body
        .wrapper
            .inner
                header.header
                    .header__inner
                        h1.header__inner__logo 
                            a(href="#") Solar Music
                        nav.menu
                            a(href="#").menu__item Latest updatets
                            a(href="#").menu__item Most Popular
                            a(href="#").menu__item For you
                        .menu__icon
                            svg.menu__icon__burger(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 53 53')
                                path(d='M2,13.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,13.5,2,13.5z', fill='#000')
                                path(d='M2,28.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,28.5,2,28.5z', fill='#000')
                                path(d='M2,43.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,43.5,2,43.5z', fill='#000')
                            svg.menu__icon__close(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 15.642 15.642')
                              path(fill-rule='evenodd', d='M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z', fill='#fff')
                
                - var groupList=[{title:"Love and Death",image:"images/love_and_deadh.jpg",year:"2009",songs: ["Chemicals","Meltdown","Lo Lamento"]},{title:"Muse",image:"images/muse.jpg",year:"1994",songs: ["Hysteria","Supermassive Black Hole","Stockholm Syndrome"]},{title:"three days grace",image:"images/three_days_grace.jpg",year:"1992",songs: ["Pain", "I Hate Everything About You", "Never Too Late"]},{title:"thirty seconds to mars",image:"images/thirty_seconds_to_mars.jpg",year:"1998",songs: ["The Kill", "Kings And Queens", "A Beautiful Lie"]},{title:"System of a Down",image:"images/System_of_a_Down.jpg",year:"1992",songs: ["Chop Suey", "Aerials", "Toxicity"]},{title:"RED",image:"images/red.jpg",year:"2004",songs: ["Already over", "Breathe Into Me", "Let Go"]},{title:"Marilyn Manson",image:"images/Marilyn_Manson.jpg",year:"1989",songs: ["The Beautiful People", "Coma White", "Sweet Dreams"]},{title:"Deftones",image:"images/Deftones.jpg",year:"1988",songs: ["Tempest", "My own summer", "The Chauffeur"]},{title:"Time For Pride",image:"images/Time_For_Pride.jpg",year:"2009",songs: ["U&I", "Memories", "Let it go"]},{title:"HIM",image:"images/HIM.jpg",year:"1991",songs: ["Join Me In Death", "Pretending", "Gone With The Sin"]},{title:"The Rasmus",image:"images/The_Rasmus.jpg",year:"1994",songs: ["Justify", "Guilty", "Living in a World without You"]},{title:"celldweller",image:"images/celldweller.jpg",year:"1999",songs: ["So long sentiment", "Tragedy", "gift for you"]},{title:"Halestorm",image:"images/Halestorm.jpg",year:"1997",songs: ["I Miss The Misery", "I Am The Fire", "Apocalyptic"]},{title:"Thousand Foot Krutch",image:"images/Thousand_Foot_Krutch.jpeg",year:"1997",songs: ["War Of Change", "Courtesy Call", "Fly On The Wall"]},{title:"nirvana",image:"images/nirvana.jpg",year:"1987",songs: ["Smells Like Teen Spirit", "Rape Me", "Come As You Are"]},{title:"Red Hot Chili Peppers",image:"images/rchp.jpg",year:"1983",songs: ["Californication", "Can’t Stop", "Give It Away"]},{title:"nightwish",image:"images/nightwish.jpeg",year:"1996",songs: ["The Poet and the Pendulum", "Ghost Love Score", "Ever Dream"]},{title:"Bring Me The Horizon",image:"images/Bring_Me_The_Horizon.jpg",year:"2003",songs: ["Shadow Moses", "It Never Ends", "Happy Song"]},{title:"Royal Blood",image:"images/Royal_Blood.jpg",year:"2013",songs: ["Out of the Black", "Figure It Out", "Little Monster"]},{title:"We Are Harlot",image:"images/We_Are_Harlot.jpg",year:"2011",songs: ["Someday", "Denial", "Dancing On Nails"]},{title:"Asking Alexandria",image:"images/Asking_Alexandria.jpg",year:"2006",songs: ["A Prophecy", "Don’t Pray For Me", "Dear Insanity"]},{title:"guano apes",image:"images/guano_apes.jpg",year:"1994",songs: ["Big In Japan", "Pretty In Scarlett", "Open Your Eyes"]},{title:"Cane Hill",image:"images/Cane_Hill.jpg",year:"2012",songs: ["screwtape", "gemini", "time bomb"]},{title:"korn",image:"images/korn.jpg",year:"1993",songs: ["Freak On A Leash", "Falling Away From Me", "Got The Life"]},{title:"dead by april",image:"images/dead_by_april.jpg",year:"2007",songs: ["A Promise", "Carry Me", "Dreaming"]}];
                
                mixin group-card(group)
                    article.group-card
                        .group-card__inner
                            .group-card__img
                                img(src= group.image alt= group.title )
                            .group-card__info
                                h1.group-card__title= group.title
                                h2.group-card__year= group.year
                                ul.group-card__songs
                                    each song in group.songs
                                     li.group-card__song= song
                            
                section.group     
                        for group in groupList
                            +group-card(group)
                    
                a(href="#" id="loadMore") Load more
                a(href="#top" id="to_top") To Top
                        
        script(src="js/jquery-1.9.1.min.js")
        script(src="js/script.js")
        script(src="js/iscroll.js")
